.theme-heading-sm {
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
    font-size: 18px;
    font-family: CeraPro;
    font-weight: 600;
    margin-bottom: 41px;
    display: block;
}

.theme-h2 {
    font-size: 56px;
    font-family: atypdisplay;
    line-height: 78px;
    font-weight: 600;
}

.arrow-round {
    position: relative;
    padding-left: 64px;
    line-height: 46px;
}

.arrow-round::before {
    position: absolute;
    content: "";
    left: 0;
    width: 46px;
    height: 46px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    background: url("../images/right-arrow.png") no-repeat center;
}

.arrow-round span {
    font-size: 22px;
    text-align: left;
    line-height: 34px;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    font-family: CeraPro;
}

.highlight-color--blue {
    color: #4BAAD0;
}

.two-col-cell {
    display: flex;
    justify-content: space-between;
}

.two-col-cell  .left-cell {
    max-width: 700px;
}

.two-col-cell  .right-cell {
    max-width: 780px;
}